{
				opcode: "{{ block.opcode }}",
				blockType: "{{ block.type }}",
				isTerminal: {{ block.terminal }},
				text: formatMessage({
					id: "{{ block.opcode }}.spec",
					defaultMessage: "{{ block.spec }}",
					description: "Label of the '{{ block.spec }}' block"
				}),
				arguments: {
					{% for arg in block.args %}
					{% include "arg.njk" %}
					{% endfor %}
				},
				func: "{{ block.opcode }}",
				
			},