// Extension converted by Mrcomputer1's ScratchXto3
// https://mrcomputer1.github.io/ScratchXto3

var Ext{{ id }} = function(runtimeProxy){
	this.runtime = runtimeProxy;
};

Ext{{ id }}.prototype.getInfo = function(){
	
	({{ _init }})();
	
	return {
		id: "{{ id }}",
		name: formatMessage({
			id: "extensionName",
			defaultMessage: "{{ name }}",
			description: "Extension Name"
		}),
		blockIconURI: "{{ image_url }}",
		menuIconURI: "{{ image_url_menu }}",
		docsURI: "{{ docs_url }}",
		blocks: [
			{% for block in blocks %}
			{% include "block.njk" %}
			{% endfor %}
		],
		menus: {
			{% for key, val in menus %}
			"{{ key }}": {{ val }},
			{% endfor %}
		}
	};
	
};


{% for func in funcs %}
{% if func.isAsync %}
{% include "func_async.njk" %}
{% else %}
{% include "func.njk" %}
{% endif %}
{% endfor %}

Scratch.extensions.register(new Ext{{ id }}());